Makefile
*.pro.user
*.components
*.so
moc_*.cpp
*.o
*.application
*.qmlproject.user
*.qmlc
*.jsc
.qtc_clangd
.qmake.stash
Makefile.*
moc_*.json
moc_predefs.h
*_metatypes.json
*_qmltyperegistrations.cpp
plugins.qmltypes
